In [1]:
from pathlib import Path
import pandas as pd

In [2]:
home_dir = Path.home()
inside_airbnb_data_dir = home_dir / 'Programming/data/inside-airbnb/london'
mps_recorded_crime_geographic_data_dir = home_dir / 'Programming/data/london-datastore/mps-recorded-crime-geographic-data'
population_dataset_england_wales_data_dir = home_dir / 'Programming/data/office-national-statistics/population-dataset-england-wales/'

In [3]:
inside_airbnb_data_file = inside_airbnb_data_dir / 'listings.csv'
mps_recorded_crime_geographic_data_file =  mps_recorded_crime_geographic_data_dir / 'MPS Borough Level Crime (most recent 24 months).csv'
population_dataset_england_wales_data_file = population_dataset_england_wales_data_dir / 'mye23tablesew.xlsx'

In [4]:
column_list = ['BoroughName', '202401', '202402', '202403', '202404', '202405',
               '202406', '202407', '202408', '202409', '202410', '202411', '202412']
mps_monthly_crime_df = pd.read_csv(mps_recorded_crime_geographic_data_file, usecols = column_list)
crime_df = mps_monthly_crime_df.groupby('BoroughName').sum()

In [38]:
crime_data_summed_groups = {f'Q{int(i)+1}': crime_df.iloc[:, i*3:(i+1)*3].sum(axis=1) for i in range(len(crime_df.columns) // 3)}
crime_data_summed_df = pd.DataFrame(crime_data_summed_groups)
crime_data_summed_df.drop('London Heathrow and London City Airports', inplace=True)

In [43]:
crime_data_summed_df.head()

                        Q1    Q2    Q3    Q4
BoroughName
Barking and Dagenham  5068  4873  4930  5220
Barnet                6946  6976  7096  7127
Bexley                4186  4227  4209  3995
Brent                 7884  8316  8216  7947
Bromley               5837  5884  6268  6093

In [53]:
crime_data_summed_df.shape

(33, 4)

In [41]:
population_df = pd.read_excel(population_dataset_england_wales_data_file, sheet_name='MYE2 - Persons', header=7)
london_population_df = population_df.loc[population_df['Geography'] == 'London Borough'][['Name', 'All ages']]
grouped_population_df = london_population_df.groupby('Name').sum()

In [42]:
grouped_population_df.head()

                      All ages
Name
Barking and Dagenham    222308
Barnet                  395007
Bexley                  250853
Brent                   344521
Bromley                 331162

In [59]:
grouped_population_df.index

Index(['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley',
       'Camden', 'City of London', 'Croydon', 'Ealing', 'Enfield', 'Greenwich',
       'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering',
       'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea',
       'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham',
       'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton',
       'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster'],
      dtype='object', name='Name')

In [61]:
crime_data_summed_df

                           Q1     Q2     Q3     Q4
BoroughName
Barking and Dagenham     5068   4873   4930   5220
Barnet                   6946   6976   7096   7127
Bexley                   4186   4227   4209   3995
Brent                    7884   8316   8216   7947
Bromley                  5837   5884   6268   6093
Camden                  10339  10619  10534  11313
Croydon                  8607   8523   9091   8920
Ealing                   7775   7726   7771   7965
Enfield                  6875   7272   7516   7662
Greenwich                6619   6913   7102   7045
Hackney                  8179   8557   8459   8501
Hammersmith and Fulham   5346   5176   5418   5472
Haringey                 6692   7116   7342   7025
Harrow                   3940   3867   4240   4436
Havering                 5164   5176   5107   4849
Hillingdon               6255   7091   7577   7323
Hounslow                 6451   6487   6880   6717
Islington                6846   7799   7890   7848
Kensington and Chelsea   5603   5593   6047   5770
Kingston upon Thames     2717   2768   2988   2689
Lambeth                  8940   9909  10114   9285
Lewisham                 7172   7690   7799   7382
Merton                   3336   3400   3705   3403
Newham                   9549  10169  10214  10435
Redbridge                5955   6051   5919   5945
Richmond upon Thames     2786   3105   3130   3113
Southwark                9173   9589  10182  10678
Sutton                   3260   3191   3359   3245
Tower Hamlets            8602   8958   9925   8989
Unknown                  4532   4850   5064   1159
Waltham Forest           5784   6453   6304   6486
Wandsworth               6476   6378   6702   6287
Westminster             23427  21439  20269  25992

In [55]:
crime_data_summed_df.div(grouped_population_df[['All ages']])

                        All ages  Q1  Q2  Q3  Q4
Barking and Dagenham         NaN NaN NaN NaN NaN
Barnet                       NaN NaN NaN NaN NaN
Bexley                       NaN NaN NaN NaN NaN
Brent                        NaN NaN NaN NaN NaN
Bromley                      NaN NaN NaN NaN NaN
Camden                       NaN NaN NaN NaN NaN
City of London               NaN NaN NaN NaN NaN
Croydon                      NaN NaN NaN NaN NaN
Ealing                       NaN NaN NaN NaN NaN
Enfield                      NaN NaN NaN NaN NaN
Greenwich                    NaN NaN NaN NaN NaN
Hackney                      NaN NaN NaN NaN NaN
Hammersmith and Fulham       NaN NaN NaN NaN NaN
Haringey                     NaN NaN NaN NaN NaN
Harrow                       NaN NaN NaN NaN NaN
Havering                     NaN NaN NaN NaN NaN
Hillingdon                   NaN NaN NaN NaN NaN
Hounslow                     NaN NaN NaN NaN NaN
Islington                    NaN NaN NaN NaN NaN
Kensington and Chelsea       NaN NaN NaN NaN NaN
Kingston upon Thames         NaN NaN NaN NaN NaN
Lambeth                      NaN NaN NaN NaN NaN
Lewisham                     NaN NaN NaN NaN NaN
Merton                       NaN NaN NaN NaN NaN
Newham                       NaN NaN NaN NaN NaN
Redbridge                    NaN NaN NaN NaN NaN
Richmond upon Thames         NaN NaN NaN NaN NaN
Southwark                    NaN NaN NaN NaN NaN
Sutton                       NaN NaN NaN NaN NaN
Tower Hamlets                NaN NaN NaN NaN NaN
Unknown                      NaN NaN NaN NaN NaN
Waltham Forest               NaN NaN NaN NaN NaN
Wandsworth                   NaN NaN NaN NaN NaN
Westminster                  NaN NaN NaN NaN NaN

In [ ]:
columns_list = ['neighbourhood_cleansed', 'bathrooms', 'bedrooms', 'latitude', 'longitude',
                'room_type', 'latitude', 'longitude', 'property_type', 'price']
inside_airbnb_df = pd.read_csv(inside_airbnb_data_file, usecols=columns_list)
inside_airbnb_df.head()

In [ ]:
inside_airbnb_df.columns